<html>
  <head>
    <title>Mask 5-0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo&amp;display=swap'>
  </head>
  <body>
    <div class="container">
      <div class="area" >
	<input type="radio" id="live" name="source" value="live">
  	<label for="live">Live</label><br>
        <input type="radio" id="cached" name="source" value="cached" onclick="javascript:showSource();">
        <label for="cached">From Link</label><br>
        <form id="sourceBox" style="visibility:visible" action="{{ url_for('handle_source') }}" method="post">
          <input type="text" name="source_path" size="40">
          <input type="submit"> 
        </form>
      </div> 
      <div class="header"></div>
      <img class="frame" src="{{ url_for('video_feed') }}">
   </div>
  <script src="script_src.js"/>
  </body>
</html>
