<html>
  <head>
    <title>Mask 5-0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo&amp;display=swap'>
  </head>
  <body>
    <div class="tab">
      {% if active == "Live": %}
       <button class="tablinks active" onclick="openView(event, 'Live')">Live</button>
       <button class="tablinks" onclick="openView(event, 'Link')">From Link</button>
      {% else %}
       <button class="tablinks" onclick="openView(event, 'Live')">Live</button>
       <button class="tablinks active" onclick="openView(event, 'Link')">From Link</button>
      {% endif %}
    </div>
      {% if active == "Live": %}
      <div id="Live" class="tabcontent active"></div>
      <div id="Link" class="tabcontent">
        <form id="sourceBox" action="/" method="post" >
          <input type="text" name="source_path" size="40" value="https://youtu.be/eX2qFMC8cFo">
          <input type="submit">
        </form>       
      </div>
      {% else %}
      <div id="Live" class="tabcontent"></div>
      <div id="Link" class="tabcontent active" style="display:block">
        <form id="sourceBox" action="/" method="post" >
          <input type="text" name="source_path" size="40" value="https://youtu.be/eX2qFMC8cFo">
          <input type="submit">
        </form>       
      </div>
      {% endif %}
     <img id="liveFeed" src="{{ url_for('video_feed') }}">     
     <form id="radiusBox" action="/" method="post">
          <input type="text" name="radius" size="40" value="6 ft">
          <input type="submit">
     </form>
     <script>
        function openView(event, type) {
           var tabcontent = document.getElementsByClassName("tabcontent");
           for (var i=0; i<tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
           }
           var tablinks = document.getElementsByClassName("tablinks");
           for (var i=0; i<tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
           }
           document.getElementById(type).style.display = "block";
           event.currentTarget.className += " active";
        }
     </script>
  </body>
</html>
