<html>
  <head>
    <title>Mask 5-0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo&amp;display=swap'>
  </head>
  <body>
    <div class="tab">
      <form id="goLive" action="/" method="post">
         <input type="hidden" name="live_feed" value="True"/>
      </form>
      {% if active == "Live": %}
       <button class="tablinks active" onclick="openView(event, 'Live')">Live</button>
       <button class="tablinks" onclick="openView(event, 'Link')">From Link</button>
      {% else %}
       <button class="tablinks" onclick="openView(event, 'Live')">Live</button>
       <button class="tablinks active" onclick="openView(event, 'Link')">From Link</button>
      {% endif %}
    </div>
      {% if active == "Live": %}
      <div id="Live" class="tabcontent active"></div>
      <div id="Link" class="tabcontent">
        <form id="sourceBox" action="/" method="post" >
          <input type="text" name="source_path" size="40" value="{{ url }}">
          <input type="submit">
        </form>       
      </div>
      {% else %}
      <div id="Live" class="tabcontent"></div>
      <div id="Link" class="tabcontent active" style="display:block">
        <form id="sourceBox" action="/" method="post" >
          <input type="text" name="source_path" size="40" value="{{ url }}">
          <input type="submit">
        </form>       
      </div>
      {% endif %}
     <img id="liveFeed" src="{{ url_for('video_feed') }}"/>
     {% if active == "Live": %}
     <form id="videoControls" style="display:none" action="/" method="post">
         <input type="submit" name="replay" value="replay"/>
         <button type="button" id="pause" onclick="changeText()"/>pause</button>
     </form>
     {% else %}
     <form id="videoControls" style="display:block" action="/" method="post">
         <input type="submit" name="replay" value="replay"/>
         <button type="button" id="pause" onclick="changeText()"/>pause</button>
     </form>
     {% endif %}     
      <form id="pauseForm" action="/" method="post">
         <input type="hidden" name="pause" value="True"/>
      </form>
     <form id="radiusBox" action="/" method="post">
          <label>radius: </label>
          <input type="text" name="radius" size="30" value="{{ radius }}">
	  <label>duration: </label>
          <input type="text" name="duration" size="30" value="{{ duration }}">
          <input type="submit">
          <input type="submit" name="Reset" value="Reset"/>
     </form>
     {% if message != None %}
     <p><b>{{message}}</b></p>
     {% endif %} 
     <script>
        function changeText() {
            var text = document.getElementById("pause").innerHTML;
            if (text == "pause") {
               document.getElementById("pause").innerHTML = "play";
            } else {
               document.getElementById("pause").innerHTML = "pause";
            }              
            document.getElementById("pauseForm").submit();
        }
        function openView(event, type) {
           var tabcontent = document.getElementsByClassName("tabcontent");
           for (var i=0; i<tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
           }
           var tablinks = document.getElementsByClassName("tablinks");
           for (var i=0; i<tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
           }
           document.getElementById(type).style.display = "block";
           event.currentTarget.className += " active";
           if (type == "Live") {
              document.getElementById("goLive").submit();
           }
        }
     </script>
  </body>
</html>
